<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soup Game</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <section class="perfil">
        <div class="izquierda">
            <div class="perfil-info">
                <div class="info-cont">
                    <img src="images.jpg" alt="">
                    <div class="info">
                        <p>Mem</p>
                        <p>Jugando desde: 07/07/2024</p>
                        <p>Partidas Gandas: 344</p>
                        <p>Mas estadisticas</p>
                    </div>
                </div>
                <a href="">Editar Perifil</a>
            </div>

            <div class="amigos">
                <div class="amigos-cont">
                    <h2>Amigos</h2>
                    <div class="amigo">
                        <img src="images.jpg" alt="">
                        <p>Amigo 1</p>
                    </div>
                    <div class="amigo">
                        <img src="images.jpg" alt="">
                        <p>Amigo 2</p>
                    </div>
                    <div class="amigo">
                        <img src="images.jpg" alt="">
                        <p>Amigo 3</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="derecha"></div>
    </section>
</body>
</html>